<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwl.zshop.dao.SysUserDao">

    <resultMap id="sysuserMap" type="SysUser">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="login_name" column="login_name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="isvalid" column="is_valid"/>
        <result property="createDate" column="create_date"/>
        <association property="role" javaType="Role" column="role_id">
            <id property="id" column="r.id"/>
            <result property="roleName" column="role_name"/>
        </association>
    </resultMap>
    <resultMap id="sysuserMap2" type="SysUser">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="login_name" column="login_name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="isvalid" column="is_valid"/>
        <result property="createDate" column="create_date"/>
        <association property="role" javaType="Role" column="role_id">
            <id property="id" column="role_id"/>
        </association>
    </resultMap>

    <sql id="sysUserColumn">
        id,
        name,
        login_name,
        password,
        phone,
        email,
        is_valid,
        create_date,
        role_id
    </sql>

    <select id="selectAll" resultMap="sysuserMap">
        select s.id,s.name,s.login_name,s.password,s.phone,s.email,s.is_valid,s.create_date,s.role_id,
                r.id 'r.id',r.role_name
        from t_sysuser s
        left join t_role r on s.role_id = r.id
    </select>

    <select id="selectSysUserById" resultMap="sysuserMap2">
        select <include refid="sysUserColumn"/>
        from t_sysuser
        where id=#{id}
    </select>

    <!-- SysUserParam 该类没有作为查询条件参数类，没有放到POJO中，所以没有起别名，需要写全路径-->
    <select id="selectSysUserByParams" parameterType="com.lwl.zshop.params.SysUserParam" resultMap="sysuserMap">
        select s.id,s.name,s.login_name,s.password,s.phone,s.email,s.is_valid,s.create_date,s.role_id,
                r.id 'r.id',r.role_name
        from t_sysuser s
        left join t_role r on s.role_id = r.id
        <where>
            <if test="name != null and name != ''">
                and name like concat(concat('%',#{name}),'%')
            </if>
            <if test="loginName != null and loginName !=''">
                and login_name like concat(concat('%',#{loginName}),'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="roleId != null and roleId != -1">
                and role_id=#{roleId}
            </if>
            <if test="isValid != null and isValid != -1">
                and is_valid=#{isValid}
            </if>
        </where>
    </select>

    <select id="selectLoginNameAndPassword" resultMap="sysuserMap">
        select s.id,s.name,s.login_name,s.password,s.phone,s.email,s.is_valid,s.create_date,s.role_id,
                r.id 'r.id',r.role_name
        from t_sysuser s
        left join t_role r on s.role_id = r.id
        where login_name=#{login_name} and password=#{password} and is_valid = #{isValid}
    </select>

    <insert id="insert" parameterType="SysUser">
        insert into t_sysuser
          (name, login_name, password, phone, email, is_valid, create_date, role_id)
        value
          (#{name},#{login_name},#{password},#{phone},#{email},#{isvalid},#{createDate},#{role.id})
    </insert>

    <update id="update" parameterType="SysUser">
        update t_sysuser
        set name=#{name},phone=#{phone},email=#{email},role_id=#{role.id}
        where id=#{id}
    </update>

    <update id="updateStatus">
        update t_sysuser
        set is_valid = #{isValid}
        where id=#{id}
    </update>
</mapper>